[user]
    name = Mark-Asuncion
    email = <replaceme>
[alias]
    logd = log --graph --decorate --oneline
[init]
    defaultBranch = main
[core]
    editor = nvim
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "vimdiff"]
	layout = LOCAL,REMOTE/MERGED
